* {
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

body {
    margin: 0;
    padding: 0;
}

.head {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 46px;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: white;
}

.head-right a {
    margin-left: 15px;
    width: 113px;
    height: 20px;
}

.head-right img {
    width: 113px;
    height: 20px;
}

.head-left ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

}

.head-left li {
    height: 46px;
    align-items: center;
    border-left: 1px solid rgb(221, 221, 221);
    list-style-type: none;
}

.head-left a {
    font-size: 16px;
    text-decoration: none;
}

.device {
    padding: 12px 18px;
    color: rgb(107, 106, 106);
}

.device i {
    font-size: 14px;
}

.choose {
    padding: 12px 15px;
    background-color: #0079fa;
    color: white;
}

.choose:hover {
    background-color: #0062ca;
}


/* header-------------------------------------------------- */
.header {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    padding: 0 15px;
    width: 100%;
    height: 90px;
    background-color: white;
}

.header-left img {
    height: 50px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right-sel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 0;
}

.header-right-sel li {
    margin: 0 30px;
    list-style-type: none;
}

.header-right-sel .a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

.header-right-sel .a:hover,
.a-service:hover {
    font-weight: bolder;
    font-size: 14px;
    color: #000;
}

.header-right-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    min-width: 180px;
}

.header-right-phone img {
    margin-right: 5px;
    width: 16px;
    height: 16px;
}

.a-service {
    padding-bottom: 10px;
    text-decoration: none;
    color: #0062ca;
    border-bottom: 3px solid #000;

}

.rwd-768 {
    display: none;
}


/*main-img--------------------------------------------  */
#main-img {
    padding-top: 135px;
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: 100%;
    height: 26.03vw;
    background-image: url('https://finance-003-pic6.eznetonline.com/upload/templatefiles/9_hr83.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-img-border-left,
.main-img-border-right {
    padding-bottom: 50px;
    font-size: 200px;
    font-weight: 100;
    color: white;
}

.main-img-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    padding: 30px 40px;
    font-size: 40px;
    font-weight: bolder;
    /* border-width: 3px 3px 3px 3px;
    border-style: hidden solid hidden solid;
    border-color: white white white white; */
}


#main-img p {
    margin: 10px;
    color: white;
}

/* main-list------------------------------------------------ */
#main-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    margin-bottom: 15px;
    /* height: 280px; */
}

.main-list-text-1 h2 {
    font-weight: 400;
}

.main-list-text-2 h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 300;
}

.main-list-text h2 {
    margin-top: 5px;
    color: #000000;
    font-size: 30px;
    font-weight: bolder;

}

.main-list-sel {
    display: flex;
    align-items: center;
}

.sel-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 20px;
    padding: 0px 50px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    transition-duration: 0.5s;
    cursor: pointer;
}

.sel-3-bd {
    border-right: 2px solid rgb(223, 222, 222);
    border-left: 2px solid rgb(223, 222, 222);
}

.sel-3 img {
    width: 30px;
}


.rwd-919 {
    display: none;
}

/* map-------------------------------------------------------------- */

#map-1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#map {
    width: 90%;
    height: 350px;
}



/* footer--------------------------------------------------------- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 270px;
    height: 220px;

}

.footer-left img {
    height: 60px;
}

.footer-left-p1 {
    font-size: 14px;
}

.footer-left-p2 {
    margin-bottom: 5px;
    font-weight: bolder;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-right img {
    width: 40px;
}

.footer-right p {
    min-width: 240px;
    font-size: 13px;
}

/* --------------------------------------------------------------- */
@media (max-width:1440px) {
    .header-right-sel {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 20px;
    }

    .footer {
        padding: 25px 150px;
    }
}

@media (max-width:1200px) {
    .footer {
        padding: 25px 100px;
    }
}

@media (max-width:992px) {
    .device {
        display: none;

    }

    .main-img-text {
        text-align: center;
    }

    #main-img p {
        margin: 0;
    }


    .footer {
        padding: 25px 30px;
    }

    .header-right-sel li {
        margin: 0 20px;
    }

    .main-img-text p {
        font-size: 38px;
    }

    .main-list-sel {
        flex-direction: column;
    }

    .sel-3-bd {
        margin: 0 100px;
        border: 0;
        border-top: 2px solid rgb(223, 222, 222);
        border-bottom: 2px solid rgb(223, 222, 222);
    }

    .sel-3 img {
        margin-top: 20px;
    }

    #map-1 {
        top: 500px;
    }

}

@media (max-width:920px) {

    #main-list {
        padding: 45px 0 0 0;
    }

    #main-list h2 {
        margin-bottom: 15px;
        font-size: 28px;
    }

    .main-list-text {
        font-size: 12px;
    }
}

@media (max-width:919px) {
    #main-list {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}

@media (max-width:768px) {
    .header {
        height: 50px;
    }

    .header-left img {
        width: 125.8px;
        height: 30px;
    }

    .header-right {
        display: none;
    }

    #main-img {
        padding-top: 95px;
    }

    .main-img {
        height: 300px;
    }



    .footer {
        padding: 25px 15px;
    }

    .rwd-768 {
        display: block;
        position: relative;
        width: 30px;
        height: 25px;

    }

    .rwd {
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
    }

    .rwd-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .rwd-3 {
        position: absolute;
        bottom: 0;

    }

    .rwd-768:focus .rwd-2 {
        opacity: 0;
    }

    .rwd-768:focus .rwd-1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .rwd-768:focus .rwd-3 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}

@media (max-width:700px) {
    .main-img {
        height: 400px;
    }

    .footer {
        display: inline;

        height: 190px;
    }

    .footer-left {
        padding: 0 20px;
    }

    .footer-right {
        margin-right: 0;
        padding: 0 20px;
    }
}

@media (max-width:470px) {
    #main-img {
        width: 100%;
    }

    .main-img {
        width: 100%;
    }

    .main-img-border-left,
    .main-img-border-right {
        display: none;
    }

    .main-img-text {
        padding: 0;
        width: 90%;
        border-left: 2px solid #F6F6F6;
        border-right: 2px solid #F6F6F6;
    }

    #main-list {
        width: 100%;
    }

    .main-list-sel {
        width: 80%;
    }

    .rwd-919 {
        margin: 0;
        width: 80%;
    }



}